@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #002339;
    color: white;
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 100vh;
    padding: 10rem;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 3rem;
}

h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

input {
    color: #333;
    font-size: 20px;
    width: 550px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.display {
    position: relative;
}

.display input {
    padding-right: 40px;
}

.display .copy {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 28px;
    color: #019f55;
    cursor: pointer;
}

button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background: #019f55;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: none;
    outline: none;
    margin-top: 20px;
    padding: 16px;
    width: 270px;
    border-radius: 5px
}

#successCopy {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.success {
    background: #fff;
    color: #333;
    font-weight: 500;
    width: 400px;
    height: 80px;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    transform: translatex(100%);
    animation: moveleft 0.5s linear forwards;
}

@keyframes moveleft {
    100%{
        transform: translatex(0);
    }
}

.success i {
    margin: 0 20px;
    font-size: 35px;
    color: #019f55;
}

.success::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #019f55;
    animation: anim 3s linear forwards;
}

@keyframes anim {
    100% {
        width: 0;
    }
}

/* ============ Media Query ============*/

@media (max-width: 768px) {

    body {
        padding: 4rem;

    }

    h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    input {
        font-size: 1.2rem;
        width: 450px;
    }

    .display {
        width: 450px;
    }

    button {
        width: 215px;
        font-size: 16px;
    }

    .success {
        width: 300px;
    }

    .success i {
        font-size: 25px;
    }
}

@media (min-width: 300px) and (max-width: 520px) {

    body {
        padding: 1rem;

    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    input {
        font-size: 1.0rem;
        width: 250px;
        padding: 15px;
    }

    .display {
        width: 450px;
    }

    .display .copy {
        right: 210px;
        font-size: 24px;
    }

    button {
        width: 150px;
        height: 50px;
        font-size: 10px;
    }

    .success {
        width: 200px;
        height: 60px;
    }

    .success i {
        font-size: 25px;
    }

}
